header {
    background-color: lightblue;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content:  space-evenly;
    margin-bottom: 3%;
    
}

nav a {
    display: block;
    background-color: lightpink;
    padding: 3px 10px;
}

.asideMain {
    display: flex;
}

.asideMain aside {
    width:80%;
    margin-right: 3%;
}

.asideMain main {
    display: flex;
    flex-flow: row wrap;
}

.profileCards {
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 10px 10px 5px gray;
    margin: 1%;
    width: 30%;
}

.profileCards img {
    width: 100%;
}

.clear {
    clear: both;
}

.linkGrid {
    display: grid;
    background-color: lightgrey;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3%;

}