body{
    font-family: sans-serif;
    background-color: #353531;
    color: #FFFFFF;
}

header{
align-items: center;
}

nav a{
    color: #EC4E20;
    
}









.fancy{
    font-style: italic;
}

.current{
    color: #FF9505;
    font-style:italic
}