body{
    font-size:large;
    font-family: 'Courier New', Courier, monospace;
    color:#45620e;
    background-color:#e4f5c5;
}

h1{
    color:#7b4d91;
}

h2{
    color:#7b4d91;
}

.underline{
    text-decoration: underline;
}

#copyright{
    color: #C4A9D0;
    font-size: medium;
}

.red{
    color: crimson;
} 

.lighter{
    color:#7DA438;
}