body{
    font-size:large;
    font-family: 'Courier New', Courier, monospace;
    color:darkgreen;
    background-color:snow;
}

h1{
    color: black;
}

h2{
    color: black;
}

.underline{
    text-decoration: underline;
}

#copyright{
    color: crimson;
    font-size: medium;
}

.quotecolor{
    color:darkmagenta;
} 