body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

fieldset {
    background-color: aliceblue;
}

legend {
    background-color: rgb(179, 179, 245);
    padding: 10px;
}

.form-row input:not([type= "submit"]) {
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(182, 181, 181);
}

.form-row input:not([type= "submit"]):focus {
    background-color: white;
}

.form-row input[type= "submit"]{
    padding: 10px;
    background-color: rgb(182, 181, 181);
}

.form-row{
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.radial-row {
    display: flex;
    gap: 10px;
    margin: 10px 0;
}

.form-row label {
    width: 150px;
    text-align:right;
}

.form-spacer {
    width: 150px;
    text-align: right;
}

@media ONLY screen and (max-width: 600px){
    .form-row, .radial-row {
        flex-direction: column;
    }

    .form-row label {
        text-align: left;
    }

    .form-spacer {
        text-align: left;
    }
}